/*reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*typography*/
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.containerWrp {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 4.625rem; /* 74px */
  font-weight: 700;
}
h3 {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  line-height: 3rem;
}
h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 28.8px;
}
h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  color: rgba(107, 107, 107, 1);
  line-height: 30px;
}
p {
  font-size: 1rem;
}
span {
  font-family: "Platypi", serif;
  font-weight: 700;
  font-style: italic;
  color: rgba(255, 95, 0, 1);
}
.text p {
  text-align: center;
  color: rgba(255, 95, 0, 1);
}
.hr {
  height: 1px;
  width: 100%;
  background-color: rgba(225, 225, 225, 1);
}

/* body */
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgba(34, 34, 34, 1);
}

/* ---------------------navbar-------------------------------------  */

/* ------------------------------------------------------------ */

/* ----Industries section---- */

.portfolio {
  padding: 5.5rem 12.8rem;
}
.portfolio h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.portfolio > h5 {
  text-align: center;
  max-width: 520px;
  margin: auto;
  margin-bottom: 4rem;
  color: rgba(153, 153, 153, 1);
}

/* ----clicked section ---- */

.p-images {
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
}

.desc {
  display: flex;
  justify-content: space-between;
}
.desc h5 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: rgba(34, 34, 34, 1);
}
.desc p {
  color: rgba(107, 107, 107, 1);
}
.arrow {
  margin-top: 2rem;
  width: 3rem;
  height: 3rem;
}

/* contact section starts */

.contact {
  /* margin-top: 5.5rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 250, 236, 1);
  padding-top: 3rem;
  padding-bottom: 7.5rem;
  position: relative;
}
.contact h3,
span {
  z-index: 1;
}
.button {
  display: flex;
  position: relative;
  z-index: 1;
}
.bg {
  position: absolute;
}
.contact > .bg {
  margin-top: 80px;
  position: absolute;
  /* z-index: 1; */
  bottom: 0;
  left: 0;
  width: 100%;
}
.contact > .bg img {
  max-height: 200px;
  width: 100%;
}
.cta {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 95, 0, 1);
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 95, 0, 1);
  border-radius: 10px;
}
.cta-s {
  width: 11.25rem;
  height: 3.5rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 95, 0, 1);
  border-radius: 10px;
  background-color: rgba(255, 250, 236, 1);
}
.cta-s p {
  font-weight: 700;
  color: rgba(255, 95, 0, 1);
}
.contact span {
  font-size: 2.5rem;
}
.contact .button {
  margin-top: 4rem;
  gap: 1rem;
}
.contact .button .cta {
  width: 11rem;
  height: 3.5rem;
  color: rgba(254, 254, 254, 1);
  background-color: rgba(255, 95, 0, 1);
}

/* footer section starts */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 205, 176, 1);
  padding: 4rem 6.25rem 3rem 6.25rem;
}
.footer h4 {
  font-weight: 700;
}
.brand {
  margin-right: 30rem;
}
.brand .logo {
  margin-bottom: 1rem;
}
.brand > p {
  margin-bottom: 40px;
  color: rgba(107, 107, 107, 1);
}
.social {
  display: flex;
  gap: 1rem;
  color: rgba(254, 254, 254, 1);
}
.social div {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.copyright {
  text-align: center;
  background-color: rgba(255, 181, 138, 1);
  color: rgba(255, 239, 230, 1);
  padding: 32px 10px 32px 10px;
}
#foot-h {
  color: rgba(34, 34, 34, 1);
  margin-bottom: 2rem;
}
#foot-p {
  color: rgba(107, 107, 107, 1);
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
  vertical-align: middle;
}



@media only screen and (max-width: 576px) {
  
  
  .portfolio {
    padding: 40px 24px;
  }
  .p-images {
    flex-direction: column;
    gap: 20px;
  }
  

 
  .contact {
    padding: 24px;
  }
  .contact h3,
  .contact span {
    font-size: 2rem;
  }
  .contact .button{
    flex-direction: column;
  }
  
  .footer {
    display: flex;
    background-color: rgba(255, 205, 176, 1);
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    flex-direction: column;
  }
  .hideMob {
    display: none;
  }
  .brand{
    margin-right: 0;
  }
  .footer h4 {
    font-weight: 700;
  }
  .brand {
    /* margin-left: -88px; */
  }
  
  .brand .logo {
    margin-bottom: 1rem;
  }
  .brand > p {
    /* width: 414px; */
    margin-bottom: 40px;
    color: rgba(107, 107, 107, 1);
  }
  .social {
    display: flex;
    gap: 1rem;
    color: rgba(254, 254, 254, 1);
    justify-content: center;
    align-items: center;
  }
  .social div {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }

  .copyright {
    text-align: center;
    background-color: rgba(255, 181, 138, 1);
    color: rgba(255, 239, 230, 1);
    padding: 16px;
  }
  .copyright > p {
    font-size: 14px;
  }
}
}